.Account {
    height: 100%;
    width: 100%;
    background: #F7F8F9;
    overflow: hidden;
}

.title_container{
    margin-top: -40px;
    width: 100%;
    height: 68px;
    background: #FFFFFF;
}

.title_container >.title {
    width: 146px;
    height: 22px;
    padding-top: 27px;
    font: normal normal 400 18px/21px 'Rubik', sans-serif;
    color: #1D2226;
}

.details{
    width: 100%;
    height: 219px;
    margin-top: 30px;
}

.user_pic{
    width: 76px;
    height: 76px;
    margin-left: 20px;
}

.cam_pic{
    position: absolute;
    width: 21px;
    height: 23px;
    margin-top: 49px;
    margin-left: -16px;
}

.user_name{
    width: 73px;
    height: 18px;
    text-align: left;
    font: normal normal 500 15px/19px 'Rubik', sans-serif;
    margin-left: 116px;
    margin-top: -80px;
    letter-spacing: 0px;
    color: #1D2226;
  
}

.user_email{
    width: 118px;
    height: 17px;
    margin-left: 116px;
    margin-top: -10px;
    font: normal normal 400 14px/19px 'Rubik', sans-serif;
    color: #1D2226;
}

.user_content{
    width: 337px;
    height: 63px;
    margin: 65px 18px 0px 20px;
    font: normal normal 400 14px/22px 'Rubik', sans-serif;
    color: #1D2226;
}

.line1, .line2{
    border: none;
    border-top: 1px dashed #CBCBCB;
    scale: 2.5;
    opacity: 0.9;
}

.line1{
    margin: -20px 0px 400px 0px;
}

