.Register {
    height: 100%;
    width: 100%;
    background: #F7F8F9;
    overflow: hidden;
}

.title {
    width: 188px;
    height: 69px;
    font: normal normal 500 28px/36px 'Rubik', sans-serif;
    margin: 40px 167px 40px 20px;
    color: #1D2226;
}

.reg_form {
    display: flex;
    flex-direction: column;
    height: 525px;
    margin-top: 22px;
}

.reg_form > input {
    width: 315px;
    height: 40px;
    margin: 0px 20px 29px 20px;
    border: 1px solid #CBCBCB;
    border-radius: 6px;
    padding: 10px 10px 10px 15px;
    color: #1D2226 0% 0% no-repeat padding-box;
    font: normal normal 400 13px/17px 'Rubik', sans-serif;
}

input:focus {
    outline: none;
    border: none;
}

.reg_form > input::placeholder {
    color: #1D2226;
    font: normal normal 400 13px/17px 'Rubik', sans-serif;
    opacity: 1;
}

.name,.number,.email,.password,.cname {
    position: absolute;
    width: 160px;
    height: 15px;
    font: normal normal 400 13px/17px 'Rubik', sans-serif;
    padding-left: 2px;
    color: #6C25FF;
    width: 96px;
    height: 17px;
    background: #F7F8F9;
}

.name {
    margin: -10px 276px 0px 34px;
}

.number {
    margin: 54px 0px 0px 34px;
}

.email {
    margin: 123px 0px 0px 34px;
}

.password {
    margin: 185px 0px 0px 34px;
}

.cname {
    margin: 251px 0px 0px 34px;
}

span {
    width: 6px;
    height: 15px;
    font: normal normal 400 13px/17px 'Rubik', sans-serif;
    letter-spacing: 0px;
    color: #DD4A3D;
}

.agency_details {
    width: 132px;
    height: 47px;
    margin: -18px 223px 175px 20px;
    opacity: 1;
}

.agency_title {
    width: 130px;
    height: 15px;
    text-align: left;
    font: normal normal 400 13px/17px 'Rubik', sans-serif;
    letter-spacing: 0px;
    color: #1D2226;
}


.yes,.no {
    position: absolute;
    width: 23px;
    height: 27px;
    margin: 6px 0px 0px 7px;
    font: normal normal 400 14px/17px 'Rubik', sans-serif;
    color: #1D2226;
}

input[type="radio"] {
    width: 22px;
    height: 22px;
    accent-color: #6C25FF;
    opacity: 1;
    border: 1px solid #642AF5;
}

.select2{
    margin-left: 44px;
}


.reg_form > .register_button {
    position: absolute;
    top: 700px;
    width: 335px;
    height: 46px;
    background: #6C25FF;
    border-radius: 6px;
    border: none;
    margin: -44px 20px 0px 20px;
    font: normal normal 500 16px/17px 'Rubik', sans-serif;
    color: rgba(255, 255, 255, 1);
}

