.body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 738px;
  overflow: hidden;
  background: rgba(247, 248, 249, 1);
}